
/*--> page basic charactor --*/

body{
    background-color::#6B240C;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0 0 ;
}


/*----@media query for big screens ----*/

/*---header -----*/

.homefImg{
    background-image: URL("../Images/BgPagenew1.jpg");
    background-position: border-box;
    background-position: center;
    background-size: cover;
    background-color: #992121;
    margin-bottom: -6dvh;
    border-radius: 5dvh;
}

.header{
  display: flex;
  box-shadow: 0 5px 9cqb 0 rgba(168, 69, 69, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color:aliceblue;
  background-color: rgb(24, 3, 53);
  border-radius: 25px;
  margin: 1vh;
}

.subHeader{
    display:flex;
    margin:auto;
    width:75%;
    float: right;
}


.Logo{
    display: flex;
    width: 50%;
}
#navItemb {
    width: 35px;
  height: 3px;
  background-color: rgb(214, 205, 205);
 }


.navbar{
    width:50%;
    display: flex;
    align-items: center;
}


a{
    margin: auto;
}

@media only screen and (max-width: 1050px) {

    .navbar{
        display: grid;
        justify-content:end;
        float: right;
        width: 100%;
    }

    .Logo{
        width:80dvh;}

    #navItemsa {
        display: none;
    }

    #navItemb{
        margin: 0;
        padding: 0;
    }

    .navItemb{
        width: 100%;
        display: inline-block;
    }  
    .subHeader{
        float: right;
    }
}

@media only screen and (min-width: 1050px) {

    #navItemb{
        width: 0;
        display: none;
        visibility: hidden;
    }
}

@media only screen and (max-width:600px) {
    
    #logo{
        width: 180px;
    }

    #hometag2{
       width: 20px;
    }
}
/*---------Home Page ------*/

.homePage{
    width: 80%;
    height: 80dvh;
    display:block;
    margin:0 auto;
}

.marging1{
    height: 2dvh;
}

.homeTag1{
    background-color: #f4f9ff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.space1{
    height: 4dvh;
}

.homeTag{
    height: 70%; 
    font-size:x-large; 
    display: flex;
    align-items: center;
    color: #272b12;
}

.Circle{
    background-color: #0f0f0d;
    border-radius: 50%;
    height: 11dvh;
    width: 11dvh;
    display:flex;
    position: relative;
    margin: auto;
    border:solid #e2e611;
}

.Circle >img{
    margin: auto;
    width: 100%;
}

@media only screen and (max-width:600px) {
    
    .homeTag{
        font-size:x-large;
    }
}

/*-------------- Service options ------*/
.wwDo{
    display: flex ;
    margin: auto;
    color:aliceblue;   
    background: rgb(24, 3, 53);
    border-radius: 25px;;
}


.wwDoContH{
    width: 80%;
    margin: auto;
}

.grid-container{
    width: 100%;
    display: flex;
    margin-top: 15dvh;
    align-items: center;
    
}

.item1{
       margin: 20px;

}

.Item2{
    width:30%
    color: #3b0707;
}
.Item3 > img {
    width: 100%;
    object-fit: cover; 
}

.Item3{
    width: 200%;
    
}
.BView{
    width: 100%;
    height: 100px;
}   
.BMore{
    margin: auto;
    width: 100px;
    height: 30px;
    background-color: aliceblue;
    border-radius: 40px;
    color: #3b0707;
    padding: 5px;
    text-align: center;
}

/*------------------About Us------------------------*/

.contowner{
    margin: 5dvh;
}
.DeStre{
    display: flex;
    justify-content: center;
}

.contHeight{
    text-align: center;
}
.strength{
    color: gray;
    font-size: xx-large;
    text-align: center; 
    padding: 20px;
    width: 80%;
}

.subcont{
    text-align:center;
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
    width: 80%;
    margin: auto;
}

.card{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 20px;
}




/*------------------Contact US ------------------------*/

.container{
    width: 100%;
    background-color: #b2b42d;
}

.content{
    width: 80%;
    margin: auto;
    padding: 5dvh;
    color: rgb(24, 3, 53);
   display: flex;
}

.left-side{
    width: 30%;
}

.phone  {
    display: flex;
    align-items: center;
}

.email {
    display: flex;
    align-items: center;
}

