body{
    background-color: #f5f5f5;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0 0 ;
}

.tJustify{
    text-align: justify;
}

/*----@media query for big screens ----*/

/*---header -----*/

.homefImg{
    background-image: URL("../Images/BgPagenew1.jpg");
    background-position: border-box;
    background-position: center;
    background-size: cover;
    background-color: #992121;
    margin-bottom: -6dvh;
    border-radius: 5dvh;
}

.header{
  display: flex;
  box-shadow: 0 5px 9cqb 0 rgba(168, 69, 69, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color:aliceblue;
  background-color: rgb(24, 3, 53);
  border-radius: 25px;
  margin: 1vh;
}

.subHeader{
    display:flex;
    margin:auto;
    width:75%;
    float: right;
}


.Logo{
    display: flex;
    width: 50%;
}
#navItemb {
    width: 35px;
  height: 3px;
  background-color: rgb(214, 205, 205);
 }


.navbar{
    width:50%;
    display: flex;
    align-items: center;
}


a{
    margin: auto;
}

@media only screen and (max-width: 1050px) {

    .navbar{
        display: grid;
        justify-content:end;
        float: right;
        width: 100%;
    }

    .Logo{
        width:80dvh;}

    #navItemsa {
        display: none;
    }

    #navItemb{
        margin: 0;
        padding: 0;
    }

    .navItemb{
        width: 100%;
        display: inline-block;
    }  
    .subHeader{
        float: right;
    }
}

@media only screen and (min-width: 1050px) {

    #navItemb{
        width: 0;
        display: none;
        visibility: hidden;
    }
}

@media only screen and (max-width:700px) {
    
    #logo{
        width: 180px;
    }

    #hometag2{
       width: 20px;
    }
    .homefImg{
        margin-bottom: -4dvh;
    }
}
/*---------Home Page ------*/

.homePage{
    width: 80%;
    height: 80dvh;
    display:block;
    margin:0 auto;
}

.marging1{
    height: 2dvh;
}

.homeTag1{
    background-color: #f4f9ff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.space1{
    height: 4dvh;
}

.homeTag{
    height: 70%; 
    font-size:x-large; 
    display: flex;
    align-items: center;
    color: #272b12;
}

.Circle{
    background-color: #0f0f0d;
    border-radius: 50%;
    height: 11dvh;
    width: 11dvh;
    display:flex;
    position: relative;
    margin: auto;
    border:solid #e2e611;
}

.Circle >img{
    margin: auto;
    width: 100%;
}

@media only screen and (max-width:700px) {
    
    .homeTag{
        font-size:x-large;
    }

    .Circle{
    height: 7dvh;
    width: 7dvh;
    }

}

/*-------------- Service options ------*/
.wwDo{
    display: flex ;
    margin: auto;
    color:aliceblue;   
    background: rgb(24, 3, 53);
    border-radius: 25px;;
}


.wwDoContH{
    width: 80%;
    margin: auto;
    padding: 5dvh;
}

.grid-container{
    width: 100%;
    display: flex;
    align-items: center; 
    
}

.item1{
       width: 20%;
}

.Item2{
    width:50%;
    padding: 2px;

}

.Item3 {
    width: 50%;

}
.Item3 > img {
    object-fit: cover; 
}



.Item4{
    visibility: hidden;
    width: 0;
    height: 0;
}

.item5{
    visibility: hidden;
    width: 0;
    height: 0;
}

.Item6{
    padding: 10px;
    width: 50%;
}

.item7{
    text-align: right;
}

.BView{
    width: 100%;
    height: 100px;
}   
.BMore{
    margin: auto;
    width: 100px;
    height: 30px;
    background-color: aliceblue;
    border-radius: 40px;
    color: #3b0707;
    padding: 10px;
    text-align: center;
}

@media only screen and (max-width:1000px) {

    .wwDoContH{
        width: 100%;
    }
    .grid-container{
        display: inline-block;
    }
   .item1{
    width:auto;
   }

    .Item4{
        visibility:visible;
        width: 100%;
        height: 20dvh;
        text-overflow: clip;
    }
    .Item2{
        visibility: hidden;
        height: 0;
        width: 0;
    }
    .Item3{
        width: 100%;
    }

    .Item3 > img {
        object-fit: cover;
    }
    .item1{
        margin: 1px;
    }
    .item7{
        visibility: hidden;
        height: 0;
        width: 0;
    }
    .Item6{
        width: auto;
        
    }
    .item5{
        visibility: visible;
        height: auto;
        width: auto;
    }
}

/*------------------About Us------------------------*/

.contowner{
    margin: 5dvh;
}
.DeStre{
    display: flex;
    justify-content: center;
}

.contHeight{
    text-align: center;
}
.strength{
    color: gray;
    font-size: xx-large;
    text-align: center; 
    padding: 20px;
    width: 80%;
}

.subcont{
    text-align:center;
    display: grid;
    column-gap: 50px;
    row-gap: 20px;
    grid-template-columns: auto auto auto;
    width: 80%;
    margin: auto;
}

.card{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 20px;
}

@media (min-width:701px)and (max-width:900px) {

    .subcont{
        width: 100%;
    }
    .DeStre{
        display: grid;
        grid-template-columns: auto auto;
        font-size: large;
        text-align: center; 
        padding: 20px;
    }

    

    .subcont{
        display: grid;
        grid-template-columns: auto auto;
          
    }
}

@media only screen and (max-width:700px) {

    .subcont{
        width: 100%;
    }
    .DeStre{
        display: grid;
        grid-template-columns: auto auto;
        font-size: large;
        text-align: center; 
        padding: 20px;
    }

    .subcont{
        display: grid;
        grid-template-columns: auto;
        row-gap: 4dvh;   
    }
}




/*------------------Contact US ------------------------*/

.container{
    width: 100%;
    background-color: #b2b42d;
}

.content{
    width: 80%;
    margin: auto;
    padding: 5dvh;
    color: rgb(24, 3, 53);
   display: flex;
}

.left-side{
    width: 30%;
}

.phone  {
    display: flex;
    align-items: center;
}

.email {
    display: flex;
    align-items: center;
}

    @media (min-width:701px) and (max-width:900px) {
    .content{
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 5dvh;
        width: 90%;
    }
    .center3{
        grid-column: 1/3;
    }
    .side3{
        text-align: justify;
    }
    .input-box, .button, .topic-text{
        text-align: center;
    }    
}



@media only screen and (max-width:700px) {
    .content{
        display: grid;
        row-gap: 5dvh;
        width: 90%;
    }

   
   
    .side3{
        text-align: justify;
    }
    .input-box, .button, .topic-text{
        text-align: center;
    }    
}

